.block {
    margin-top: 20px;
    margin-bottom: 80px;
    max-width: 320px;
}

.nav {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 2em;
}

.link {
    text-decoration: none;
}
