.forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recall {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 80px;
    margin-bottom: 16px;
}

.link_button {
    padding: "0px";
}
